<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <!--<a href="https://webwithjs.herokuapp.com/"><span class="glyphicon glyphicon-home"></span> Home</a>--> <a href="https://webwithjs.herokuapp.com/">Home</a>
      </li>
      <li>
       <!--<a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>--><a href="https://webwithjs.herokuapp.com/profile"><span class="glyphicon glyphicon-user"></span>My Profile</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> My Projects<!-- <span class="caret"></span>--></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://webwithjs.herokuapp.com/">In C</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In C++</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In Java</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In Node.js</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In Database</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In Android Apps</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">In Embedded Systems</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">On going project</a></li>
            <li class="divider"></li>
            <li><a href="https://webwithjs.herokuapp.com/">Certificates</a></li>
            <li><a href="https://webwithjs.herokuapp.com/">Picture Gallary</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
       <!-- <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center </a>-->
	   <a href=><span class="glyphicon glyphicon-user"></span>Register</a>
      </li>
	  <li class="navbar-right">
       
	   <a href=><span class="glyphicon glyphicon-user"></span>Login</a>
      </li>
    </ul>
  </div>
</nav>
