<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  
    <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>
    <div id=header>
	<!--<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("div").click(function() {alert("Happy learning...do leave your feedback");});
         });
      </script>-->
	<h3>Join State-of-the-Art</h3>
</div>
    <div class ="container">
      <div class ="row">
	<div id=content class=col-sm-4>
	<h2 id=header> </h2>
	<!--A place for all those who want to volunteer their knowledge and experience as a service...<br>
	and for them who need to uncover facts and learn<br>-->
	       Share your views on whatever interests you...<br>
	       Ask questions on whatever you want to know...<br>
	       
	</div>
	<div id=content class=col-sm-4>
	       choose from an existing topic 
	</div>

	<div id=content class=col-sm-4>
	<h2> Ask Question</h2>
	
	</div>
	
     </div>
	
	<div id=footer>
	Author: Ashutosh, India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send Queries</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
