<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div id=header>
	
	<h1>State-of-the-Art</h1>
	
</div>
<div>
	<h5>Online Community for knowledge & wisdom seekers, get all the answers...you are looking for</h5>
	

   <!-- <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>
    -->
     
   
	<h5>Sign Up is optional. Ask and answer as anoymous user...without any hesiations</h5>
</div>
<hr>
    <div class ="container">
      <div class ="row">
	<div id=content class=col-sm-4>
	<h2 id=header> </h2>
	<!--A place for all those who want to volunteer their knowledge and experience as a service...<br>
	and for them who need to uncover facts and learn<br>-->
	       <h2>Things you can do</h2>
	       <ul>
	       <li>Share your views on whatever interests you...</li>
	       <li>Ask questions on whatever you want to know...</li>
	        <li>Answer to questions, so that others benefit ...</li>
	        <li>Spend your retired life spreading all you know...</li>
	        <li>Spend time helping others resolve their issues...</li>
	        <li>Explore things never known to you before...</li>
	        <li>At the end of the day, feel happy you helped others...!</li>
		<li>At the end of the day, feel happy you learnt something new...!</li>
	       
	       </ul>
	</div>
	<div id=content class=col-sm-4>
	      <h2> Recent questions </h2><br>
	      <ul>
	      <li><a href= "" class = hyperlinks>C++: why we can't define a function inside another function?</a></li>
	        <li><a href= "" class = hyperlinks>Science: Why do electrons don't fall into the nucleous?</a>  </li>
	        <li><a href= "" class = hyperlinks>General: How to ensure my power inverter is ok?</a></li
	        <li><a href= "" class = hyperlinks>GK: Who was the father of Mumtaaz Mahal?</a></li>
	        <li><a href= "" class = hyperlinks>Maths: Which is the best book for senior school algebra?</a></li>
	        <li><a href= "" class = hyperlinks>Java:Where do we use multi-threading? ?</a></li>
		<li><a href= "" class = hyperlinks>Spiritual: How to tame our monkey minds?</a></li>
	       </ul>
	</div>

	<div id=content class=col-sm-4>
	<h2> Ask Question</h2><br>
	Question title/subject:
	<textarea id=topic cols=25 rows =1 maxlength=500 class=black></textarea><br>
	Your question:
	<textarea id=topic cols=25 rows =10 maxlength=500 class=black></textarea><br><br>
	<button id=btn_topic class=black>Submit</button>
	</div>
	
     </div>
	
	<div id=footer>
	Site Owner & developer: Ashutosh Singh, U.P., India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send me a letter</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
