<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div id=header>
<table>
<tr>
<td><a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a></td>
    <td><span class=text-big  bold>&nbsp;&nbsp;&nbsp;State-of-the-Art</span></td><td><span class=text-medium>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Global Knowledge Exchange</span></td>
 </tr>
 </table>
	
</div>
<div>
	<h5>Get the answers...you are looking for, answer to questions you know</h5>
	<h5>Sign Up is optional. Ask and answer as anoymous user...without any hesiations !</h5>
</div>
<!-- <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>-->
<div id=header>
	<h2>Welcome ! </h2>
    </div>
    <div class ="container">
     <!-- <div class ="row">-->
	<div id=content class=col-sm-4>
	
	       <h2>Things you can do</h2>
	       <ul>
	       <li>Share your views on whatever interests you...</li>
	       <li>Ask questions on whatever you want to know...</li>
	        <li>Answer to questions, so that others benefit ...</li>
	        <li>Spend your retired life spreading all you know...</li>
	        <li>Spend time helping others resolve their issues...</li>
	        <li>Explore things never known to you before...</li>
	        <li>At the end of the day, feel happy you helped others...!</li>
		<li>At the end of the day, feel happy you learnt something new...!</li>
	       
	       </ul>
	</div>
	<div id=content class=col-sm-4>
	      <h2> Recent questions </h2><br>
	      <ul>
	      <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>C++: why we can't define a function inside another function?</a></li>
	        <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>Science: Why do electrons don't fall into the nucleus?</a>  </li>
	        <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>General: How to check my power inverter is ok?</a></li>
	        <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>GK: Who was the father of Mumtaaz Mahal?</a></li>
	        <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>Maths: Which is the best book for senior school algebra?</a></li>
	        <li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>Java:Where do we use multi-threading? ?</a></li>
		<li><a href= "https://webwithjs.herokuapp.com/answersheet" class = hyperlinks>Spiritual: How to tame our monkey minds?</a></li>
	       </ul>
	</div>

	<div id=content class=col-sm-4>
	<h2> Ask Question</h2><br>
	Select subject catagory:
	<select type=number id=select_sub_category>
            <option value="education">General</option>
            <option value="business">Art</option>
            <option value="game">Aviation</option>
            <option value="shopping">biology</option>
            <option value="travel">chemistry</option>
           <option value="tools">Medical Sciences</option>
           <option value="news">Engineering</option>
           <option value="communication">Computer Sc. & Eng</option>
        </select>  
	<br>
	Your question:
	<textarea id=topic cols=25 rows =9 maxlength=500 class=black></textarea><br><br>
	<button id=btn_topic class=black>Submit</button>
	</div>
	
     </div>
	
	<div id=footer>
	Site Owner & developer: Ashutosh Singh, U.P., India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send me a letter</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
