<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div id=header>
	
	<h1>State-of-the-Art</h1>
</div>
<div id=header>
	<h4>Online Community for knowledge & wisdom seekers</h4>
	<h4>get all the answers...you are looking for</h4>
	
</div>
    <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>
     
    <div id=header>
	<!--<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("div").click(function() {alert("Happy learning...do leave your feedback");});
         });
      </script>-->
	<h3>Join State-of-the-Art</h3>
	<h5>Sign Up is optional. You can ask and answer as anoymous user... </h5>
	<h5>without any hesiation</h5>
</div>
    <div class ="container">
      <div class ="row">
	<div id=content class=col-sm-4>
	<h2 id=header> </h2>
	<!--A place for all those who want to volunteer their knowledge and experience as a service...<br>
	and for them who need to uncover facts and learn<br>-->
	       Share your views on whatever interests you...<br>
	       Ask questions on whatever you want to know...<br>
	       
	</div>
	<div id=content class=col-sm-4>
	      <h2> Recent questions </h2><br>
	      <a href= "" class = hyperlinks>C++: why we can't define a function inside another function?</a><br>
	       <a href= "" class = hyperlinks>Science: Why do electrons don't fall into the nucleous?</a>  <br>
	       <a href= "" class = hyperlinks>General: How to ensure my power inverter is ok?</a><br>
	       <a href= "" class = hyperlinks>History: Who were Mugals?...where did they come from?</a><br>
	       <a href= "" class = hyperlinks>GK: Who was the father of Mumtaaz Mahal?</a><br>
	       <a href= "" class = hyperlinks>Maths: Which is the best book for senior school algebra?</a><br>
	       <a href= "" class = hyperlinks>Java:Where do we use multi-threading? ?</a><br>
	</div>

	<div id=content class=col-sm-4>
	<h2> Ask Question</h2><br>
	Question title/subject:
	<textarea id=topic cols=25 rows =1 maxlength=500 class=black></textarea><br>
	Your question:
	<textarea id=topic cols=25 rows =10 maxlength=500 class=black></textarea><br>
	<button id=btn_topic class=black>Submit</button>
	</div>
	
     </div>
	
	<div id=footer>
	Developer: Ashutosh Singh, U.P., India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Talk to me</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
