<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  
    <a href="/" class="lang-logo">
      <img src="/ashutosh-js.jpg">
    </a>
    <div id=header>
	<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("div").click(function() {alert("Happy learning...do leave your feedback");});
         });
      </script>
	<h1>JavaScript : The language of web</h1>
</div>
    <div class ="container">
      <div class ="row">
	<div id=content class=col-sm-4>
	<h2 id=header>Welcome to WebWithJs ! </h2>
	
		JavaScript is an OBL (object based language). It is different from OOPs <br>
		(object oriented programming) languages like C++, java in the sense that<br>
		we don't have classes in javascript, but we do have objects. Everything is an object.<br>
		Therefore we do not have some fundamental features of OOPs like inheritance, <br>
		polymorphism etc in js (javascript).  
	</div>

	<div id=content class="col-sm-4">
	Suggest edit if you feel something is incorrect or needs to be added:<br >    
	<textarea id=feedback_homepage cols=25 rows =10 maxlength=1000 class=black></textarea><br>
	<input type=button id=btn_feedback_homepage value=Post class=black >
	</div>
	
	<div id=content class=col-sm-4>
	<h2> About Us</h2>
	
		We provide complete web solution to our clients. Designing frontend, backend and platform.
		We will build the entire site for you, based on your end-use and design inputs.
	</div>
	
     </div>
	
	<div id=footer>
	Author: Ashutosh, India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send Queries</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
