<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  
    <a href="/" class="lang-logo">
      <img src="/ashutosh-js.jpg">
    </a>
    <div id=header>
	<!--<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("div").click(function() {alert("Happy learning...do leave your feedback");});
         });
      </script>-->
	<h1>Join State-of-the-Art</h1>
</div>
    <div class ="container">
      <div class ="row">
	<div id=content class=col-sm-4>
	<h2 id=header> ! </h2>
	       share you views on whatever interests you...<br>
	       choose from an exixting topic or create your own.
	</div>

	<div id=content class=col-sm-4>
	<h2> Latest Questions</h2>
	
	</div>
	
     </div>
	
	<div id=footer>
	Author: Ashutosh, India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send Queries</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value=" Thanks !";
	}
	
	</script>
</div>		
</body>
</html>
