<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav_2.ejs %>

<div class="jumbotron text-center">
  <div id=header>
	
	<h1>State-of-the-Art</h1>
	<h4>Online Community for knowledge & wisdom seekers</h4>
	<h4>get all the answers...you are looking for</h4>
	
</div>
    <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>

    <div id=header>
	<h1>Login </h1>
    </div>
    <hr>
	<div id=content>
	<pre>
	
	User name			:<input type=text id=name>
	Password			:<input type=text id=name>
	
	                 <button>Submit</button>
	</pre>
	</div>
   <hr>
	
  <hr>
	<div id=footer>
	Posted by: Ashutosh, India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send Queries</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value="done thanks !";
	}
	
	</script>
</body>
</html>
