<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav_2.ejs %>

<div class="jumbotron text-center">
  <div id=header>
	
	<table>
<tr>
<td><a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a></td>
    <td><span class=text-big  bold>&nbsp;&nbsp;&nbsp;State-of-the-Art</span></td><td><span class=text-medium>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The World Knowledge Exchange</span></td>
 </tr>
 </table>
	
</div>
<div>
	<h5>Get the answers...you are looking for, answer to questions you know.&nbsp;&nbsp;Online community for knowledge & wisdom lovers.</h5>
	<h5>Sign Up is optional. Ask and answer as anoymous user...without any hesiations !</h5>
</div>

   <div id=header>
	<h2>Logged Out ! Thanks for visiting.</h2>
</div>
	<div id=footer>
	Site owner & developer: Ashutosh, India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Send me a letter</a>
	</div>
	<script>
	var feedback_homepage = document.getElementById("feedback_homepage");
	var btn_feedback_homepage = document.getElementById("btn_feedback_homepage");
	
	btn_feedback_homepage.onclick= function(){
	
		
		btn_feedback_homepage.value="...........posting";
		
		btn_feedback_homepage.value="done thanks !";
	}
	
	</script>
</body>
</html>
