<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <% include ../partials/nav_2.ejs %>

<div class="jumbotron text-center">
  <div id=header>
	
	<h1>State-of-the-Art</h1>
	<h4>Online Community for knowledge & wisdom seekers</h4>
	<h4>get all the answers...you are looking for</h4>
	
</div>
    <a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a>
     
    <div class="container">

<div class="col-md-3">

<h4>Java Technologies</h4>
<ul class="menu" id="java_technologies">
<li><a  href="/ant/index.htm" title="Learn Apache ANT">Learn Apache Ant</a></li>
<li><a  href="/apache_poi_ppt/index.htm" title="Learn Apache POI (Powerpoint)">Learn Apache POI (Powerpoint)</a></li>
<li><a  href="/apache_poi_word/index.htm" title="Learn Apache POI (Word)">Learn Apache POI (Word)</a></li>
<li><a  href="/apache_poi/index.htm" title="Learn Apache POI">Learn Apache POI</a></li>
<li><a  href="/awt/index.htm" title="Learn AWT">Learn AWT</a></li>
<li><a  href="/design_pattern/index.htm" title="Learn Design Patterns in Java">Learn Design Patterns</a></li>
<li><a  href="/easymock/index.htm" title="Learn EasyMock">Learn EasyMock</a></li>
<li><a  href="/eclipse/index.htm" title="Learn Eclipse">Learn Eclipse</a></li>
<li><a  href="/ejb/index.htm" title="Learn EJB">Learn EJB</a></li>
<li><a  href="/guava/index.htm" title="Learn Guava">Learn Guava</a></li>
<li><a  href="/hibernate/index.htm" title="Learn Hibernate">Learn Hibernate</a></li>
<li><a  href="/ibatis/index.htm" title="Learn iBATIS">Learn iBATIS</a></li>
<li><a  href="/jackson/index.htm" title="Learn Jackson">Learn Jackson</a></li>
<li><a  href="/jasper_reports/index.htm" title="Learn JasperReports">Learn JasperReports</a></li>
<li><a  href="/java/index.htm" title="Learn Java">Learn Java</a></li>
<li><a  href="/java_concurrency/index.htm" title="Learn Java Concurrency">Learn Java Concurrency</a></li>
<li><a  href="/java_rmi/index.htm" title="Learn Java RMI">Learn Java RMI</a></li>
<li><a  href="/java/io/index.htm" title="Learn Java.io Package">Java.io Package</a></li>
<li><a  href="/java/java_interview_questions.htm" title="Java Interview Questions">Java Interview Questions</a></li>
<li><a  href="/java/lang/index.htm" title="Learn Java.lang Package">Java.lang Package</a></li>
<li><a  href="/javatime/index.htm" title="Learn Java.time Package">Java.time Package</a></li>
<li><a  href="/java/math/index.htm" title="Learn Java.math Package">Java.math Package</a></li>
<li><a  href="/java/util/index.htm" title="Learn Java.util Package">Java.util Package</a></li>
<li><a  href="/java_xml/index.htm" title="Learn Java XML">Learn Java XML</a></li>
<li><a  href="/java8/index.htm" title="Learn Java-8">Learn Java-8</a></li>
<li><a  href="/javaexamples/index.htm" title="Java  Examples">Java Examples</a></li>
<li><a  href="/javafx/index.htm" title="Learn JavaFx">Learn JavaFx</a></li>
<li><a  href="/javamail_api/index.htm" title="Learn JavaMail API">Learn JavaMail API</a></li>
<li><a  href="/jbpm5/index.htm" title="Learn Jbpm5">Learn Jbpm5</a></li>
<li><a  href="/jdb/index.htm" title="Learn JDB">Learn JDB</a></li>
<li><a  href="/jdbc/index.htm" title="Learn JDBC">Learn JDBC</a></li>
<li><a  href="/jfreechart/index.htm" title="Learn JFreeChart">Learn JFreeChart</a></li>
<li><a  href="/jmeter/index.htm" title="Learn jmeter">Learn jMeter</a></li>
<li><a  href="/jogl/index.htm" title="Learn JOGL">Learn JOGL</a></li>
<li><a  href="/jpa/index.htm" title="Learn JPA">Learn JPA</a></li>
<li><a  href="/json/index.htm" title="Learn JSON">Learn JSON</a></li>
<li><a  href="/jsp/index.htm" title="Learn JSP">Learn JSP</a></li>
<li><a  href="/junit/index.htm" title="Learn JUnit">Learn JUnit</a></li>
<li><a  href="/log4j/index.htm" title="Learn log4j">Learn log4j</a></li>
<li><a  href="/lucene/index.htm" title="Learn Lucene">Learn Lucene</a></li>
<li><a  href="/maven/index.htm" title="Learn Maven">Learn Maven</a></li>
<li><a  href="/pdfbox/index.htm" title="Learn PDFbox">Learn PDFbox</a></li>
<li><a  href="/servlets/index.htm" title="Learn Servlets">Learn Servlets</a></li>
<li><a  href="/spring/index.htm" title="Learn Spring">Learn Spring</a></li>
<li><a  href="/springaop/index.htm" title="Learn Spring AOP">Learn Spring AOP</a></li>
<li><a  href="/springmvc/index.htm" title="Learn Spring MVC">Learn Spring MVC</a></li>
<li><a  href="/springws/index.htm" title="Learn Spring Web Services">Learn Spring Web Services</a></li>
<li><a  href="/struts_2/index.htm" title="Learn Struts 2">Learn Struts 2.x</a></li>
<li><a  href="/swing/index.htm" title="Learn Swing">Learn Swing</a></li>
<li><a  href="/testng/index.htm" title="Learn TestNG">Learn TestNG</a></li>
<li><a  href="/tika/index.htm" title="Learn Apache Tika">Learn Apache Tika</a></li>
<li><a  href="/xerces/index.htm" title="Learn Apache Xerces">Learn Apache Xerces</a></li>
<li><a  href="/xstream/index.htm" title="Learn XStream">Learn XStream</a></li>
</ul>
<h4>Digital Marketing</h4>
<ul class="menu" id="digital_marketing">
<li><a  href="/amazon_marketplace/index.htm" title="Learn Amazon Marketplace">Learn Amazon Marketplace</a></li>
<li><a  href="/ab_testing/index.htm" title="Learn A/B Testing">Learn A/B Testing</a></li>
<li><a  href="/content_marketing/index.htm" title="Content Marketing">Content Marketing</a></li>
<li><a  href="/conversion_rate_optimization/index.htm" title="Conversion Rate Optimization">Conversion Rate Optimization</a></li>
<li><a  href="/digital_marketing/index.htm" title="Learn Digital Marketing">Learn Digital Marketing</a></li>
<li><a  href="/email_marketing/index.htm" title="Learn Email Marketing">Learn Email Marketing</a></li>
<li><a  href="/facebook_marketing/index.htm" title="Learn Facebook Marketing">Learn Facebook Marketing</a></li>
<li><a  href="/google_plus/index.htm" title="Learn Google Plus Marketing">Learn Google Plus Marketing</a></li>
<li><a  href="/instagram_marketing/index.htm" title="Learn Instagram Marketing">Learn Instagram Marketing</a></li>
<li><a  href="/mobile_marketing/index.htm" title="Learn Mobile Marketing">Learn Mobile Marketing</a></li>
<li><a  href="/online_marketing/index.htm" title="Learn Online Marketing">Learn Online Marketing</a></li>
<li><a  href="/pay_per_click/index.htm" title="Learn Pay Per Click">Learn Pay Per Click</a></li>
<li><a  href="/pinterest_marketing/index.htm" title="Learn Pinterest Marketing">Learn Pinterest Marketing</a></li>
<li><a  href="/seo/index.htm" title="Learn Search Engine Optimization">Learn SEO Techniques</a></li>
<li><a  href="/social_media_marketing/index.htm" title="Learn Social Media Marketing">Learn Social Media Marketing</a></li>
<li><a  href="/twitter_marketing/index.htm" title="Learn Twitter Marketing">Learn Twitter Marketing</a></li>
<li><a  href="/youtube_marketing/index.htm" title="Learn Youtube Marketing">Learn Youtube Marketing</a></li>
<li><a  href="/web_analytics/index.htm" title="Learn Web Analytics">Learn Web Analytics</a></li>
</ul>
</div>


<div class="col-md-3">

<h4>Java Technologies</h4>
<ul class="menu" id="java_technologies">
<li><a  href="/ant/index.htm" title="Learn Apache ANT">Learn Apache Ant</a></li>
<li><a  href="/apache_poi_ppt/index.htm" title="Learn Apache POI (Powerpoint)">Learn Apache POI (Powerpoint)</a></li>
<li><a  href="/apache_poi_word/index.htm" title="Learn Apache POI (Word)">Learn Apache POI (Word)</a></li>
<li><a  href="/apache_poi/index.htm" title="Learn Apache POI">Learn Apache POI</a></li>
<li><a  href="/awt/index.htm" title="Learn AWT">Learn AWT</a></li>
<li><a  href="/design_pattern/index.htm" title="Learn Design Patterns in Java">Learn Design Patterns</a></li>
<li><a  href="/easymock/index.htm" title="Learn EasyMock">Learn EasyMock</a></li>
<li><a  href="/eclipse/index.htm" title="Learn Eclipse">Learn Eclipse</a></li>
<li><a  href="/ejb/index.htm" title="Learn EJB">Learn EJB</a></li>
<li><a  href="/guava/index.htm" title="Learn Guava">Learn Guava</a></li>
<li><a  href="/hibernate/index.htm" title="Learn Hibernate">Learn Hibernate</a></li>
<li><a  href="/ibatis/index.htm" title="Learn iBATIS">Learn iBATIS</a></li>
<li><a  href="/jackson/index.htm" title="Learn Jackson">Learn Jackson</a></li>
<li><a  href="/jasper_reports/index.htm" title="Learn JasperReports">Learn JasperReports</a></li>
<li><a  href="/java/index.htm" title="Learn Java">Learn Java</a></li>
<li><a  href="/java_concurrency/index.htm" title="Learn Java Concurrency">Learn Java Concurrency</a></li>
<li><a  href="/java_rmi/index.htm" title="Learn Java RMI">Learn Java RMI</a></li>
<li><a  href="/java/io/index.htm" title="Learn Java.io Package">Java.io Package</a></li>
<li><a  href="/java/java_interview_questions.htm" title="Java Interview Questions">Java Interview Questions</a></li>
<li><a  href="/java/lang/index.htm" title="Learn Java.lang Package">Java.lang Package</a></li>
<li><a  href="/javatime/index.htm" title="Learn Java.time Package">Java.time Package</a></li>
<li><a  href="/java/math/index.htm" title="Learn Java.math Package">Java.math Package</a></li>
<li><a  href="/java/util/index.htm" title="Learn Java.util Package">Java.util Package</a></li>
<li><a  href="/java_xml/index.htm" title="Learn Java XML">Learn Java XML</a></li>
<li><a  href="/java8/index.htm" title="Learn Java-8">Learn Java-8</a></li>
<li><a  href="/javaexamples/index.htm" title="Java  Examples">Java Examples</a></li>
<li><a  href="/javafx/index.htm" title="Learn JavaFx">Learn JavaFx</a></li>
<li><a  href="/javamail_api/index.htm" title="Learn JavaMail API">Learn JavaMail API</a></li>
<li><a  href="/jbpm5/index.htm" title="Learn Jbpm5">Learn Jbpm5</a></li>
<li><a  href="/jdb/index.htm" title="Learn JDB">Learn JDB</a></li>
<li><a  href="/jdbc/index.htm" title="Learn JDBC">Learn JDBC</a></li>
<li><a  href="/jfreechart/index.htm" title="Learn JFreeChart">Learn JFreeChart</a></li>
<li><a  href="/jmeter/index.htm" title="Learn jmeter">Learn jMeter</a></li>
<li><a  href="/jogl/index.htm" title="Learn JOGL">Learn JOGL</a></li>
<li><a  href="/jpa/index.htm" title="Learn JPA">Learn JPA</a></li>
<li><a  href="/json/index.htm" title="Learn JSON">Learn JSON</a></li>
<li><a  href="/jsp/index.htm" title="Learn JSP">Learn JSP</a></li>
<li><a  href="/junit/index.htm" title="Learn JUnit">Learn JUnit</a></li>
<li><a  href="/log4j/index.htm" title="Learn log4j">Learn log4j</a></li>
<li><a  href="/lucene/index.htm" title="Learn Lucene">Learn Lucene</a></li>
<li><a  href="/maven/index.htm" title="Learn Maven">Learn Maven</a></li>
<li><a  href="/pdfbox/index.htm" title="Learn PDFbox">Learn PDFbox</a></li>
<li><a  href="/servlets/index.htm" title="Learn Servlets">Learn Servlets</a></li>
<li><a  href="/spring/index.htm" title="Learn Spring">Learn Spring</a></li>
<li><a  href="/springaop/index.htm" title="Learn Spring AOP">Learn Spring AOP</a></li>
<li><a  href="/springmvc/index.htm" title="Learn Spring MVC">Learn Spring MVC</a></li>
<li><a  href="/springws/index.htm" title="Learn Spring Web Services">Learn Spring Web Services</a></li>
<li><a  href="/struts_2/index.htm" title="Learn Struts 2">Learn Struts 2.x</a></li>
<li><a  href="/swing/index.htm" title="Learn Swing">Learn Swing</a></li>
<li><a  href="/testng/index.htm" title="Learn TestNG">Learn TestNG</a></li>
<li><a  href="/tika/index.htm" title="Learn Apache Tika">Learn Apache Tika</a></li>
<li><a  href="/xerces/index.htm" title="Learn Apache Xerces">Learn Apache Xerces</a></li>
<li><a  href="/xstream/index.htm" title="Learn XStream">Learn XStream</a></li>
</ul>
<h4>Digital Marketing</h4>
<ul class="menu" id="digital_marketing">
<li><a  href="/amazon_marketplace/index.htm" title="Learn Amazon Marketplace">Learn Amazon Marketplace</a></li>
<li><a  href="/ab_testing/index.htm" title="Learn A/B Testing">Learn A/B Testing</a></li>
<li><a  href="/content_marketing/index.htm" title="Content Marketing">Content Marketing</a></li>
<li><a  href="/conversion_rate_optimization/index.htm" title="Conversion Rate Optimization">Conversion Rate Optimization</a></li>
<li><a  href="/digital_marketing/index.htm" title="Learn Digital Marketing">Learn Digital Marketing</a></li>
<li><a  href="/email_marketing/index.htm" title="Learn Email Marketing">Learn Email Marketing</a></li>
<li><a  href="/facebook_marketing/index.htm" title="Learn Facebook Marketing">Learn Facebook Marketing</a></li>
<li><a  href="/google_plus/index.htm" title="Learn Google Plus Marketing">Learn Google Plus Marketing</a></li>
<li><a  href="/instagram_marketing/index.htm" title="Learn Instagram Marketing">Learn Instagram Marketing</a></li>
<li><a  href="/mobile_marketing/index.htm" title="Learn Mobile Marketing">Learn Mobile Marketing</a></li>
<li><a  href="/online_marketing/index.htm" title="Learn Online Marketing">Learn Online Marketing</a></li>
<li><a  href="/pay_per_click/index.htm" title="Learn Pay Per Click">Learn Pay Per Click</a></li>
<li><a  href="/pinterest_marketing/index.htm" title="Learn Pinterest Marketing">Learn Pinterest Marketing</a></li>
<li><a  href="/seo/index.htm" title="Learn Search Engine Optimization">Learn SEO Techniques</a></li>
<li><a  href="/social_media_marketing/index.htm" title="Learn Social Media Marketing">Learn Social Media Marketing</a></li>
<li><a  href="/twitter_marketing/index.htm" title="Learn Twitter Marketing">Learn Twitter Marketing</a></li>
<li><a  href="/youtube_marketing/index.htm" title="Learn Youtube Marketing">Learn Youtube Marketing</a></li>
<li><a  href="/web_analytics/index.htm" title="Learn Web Analytics">Learn Web Analytics</a></li>
</ul>
</div>


<div class="col-md-3">

<h4>Java Technologies</h4>
<ul class="menu" id="java_technologies">
<li><a  href="/ant/index.htm" title="Learn Apache ANT">Learn Apache Ant</a></li>
<li><a  href="/apache_poi_ppt/index.htm" title="Learn Apache POI (Powerpoint)">Learn Apache POI (Powerpoint)</a></li>
<li><a  href="/apache_poi_word/index.htm" title="Learn Apache POI (Word)">Learn Apache POI (Word)</a></li>
<li><a  href="/apache_poi/index.htm" title="Learn Apache POI">Learn Apache POI</a></li>
<li><a  href="/awt/index.htm" title="Learn AWT">Learn AWT</a></li>
<li><a  href="/design_pattern/index.htm" title="Learn Design Patterns in Java">Learn Design Patterns</a></li>
<li><a  href="/easymock/index.htm" title="Learn EasyMock">Learn EasyMock</a></li>
<li><a  href="/eclipse/index.htm" title="Learn Eclipse">Learn Eclipse</a></li>
<li><a  href="/ejb/index.htm" title="Learn EJB">Learn EJB</a></li>
<li><a  href="/guava/index.htm" title="Learn Guava">Learn Guava</a></li>
<li><a  href="/hibernate/index.htm" title="Learn Hibernate">Learn Hibernate</a></li>
<li><a  href="/ibatis/index.htm" title="Learn iBATIS">Learn iBATIS</a></li>
<li><a  href="/jackson/index.htm" title="Learn Jackson">Learn Jackson</a></li>
<li><a  href="/jasper_reports/index.htm" title="Learn JasperReports">Learn JasperReports</a></li>
<li><a  href="/java/index.htm" title="Learn Java">Learn Java</a></li>
<li><a  href="/java_concurrency/index.htm" title="Learn Java Concurrency">Learn Java Concurrency</a></li>
<li><a  href="/java_rmi/index.htm" title="Learn Java RMI">Learn Java RMI</a></li>
<li><a  href="/java/io/index.htm" title="Learn Java.io Package">Java.io Package</a></li>
<li><a  href="/java/java_interview_questions.htm" title="Java Interview Questions">Java Interview Questions</a></li>
<li><a  href="/java/lang/index.htm" title="Learn Java.lang Package">Java.lang Package</a></li>
<li><a  href="/javatime/index.htm" title="Learn Java.time Package">Java.time Package</a></li>
<li><a  href="/java/math/index.htm" title="Learn Java.math Package">Java.math Package</a></li>
<li><a  href="/java/util/index.htm" title="Learn Java.util Package">Java.util Package</a></li>
<li><a  href="/java_xml/index.htm" title="Learn Java XML">Learn Java XML</a></li>
<li><a  href="/java8/index.htm" title="Learn Java-8">Learn Java-8</a></li>
<li><a  href="/javaexamples/index.htm" title="Java  Examples">Java Examples</a></li>
<li><a  href="/javafx/index.htm" title="Learn JavaFx">Learn JavaFx</a></li>
<li><a  href="/javamail_api/index.htm" title="Learn JavaMail API">Learn JavaMail API</a></li>
<li><a  href="/jbpm5/index.htm" title="Learn Jbpm5">Learn Jbpm5</a></li>
<li><a  href="/jdb/index.htm" title="Learn JDB">Learn JDB</a></li>
<li><a  href="/jdbc/index.htm" title="Learn JDBC">Learn JDBC</a></li>
<li><a  href="/jfreechart/index.htm" title="Learn JFreeChart">Learn JFreeChart</a></li>
<li><a  href="/jmeter/index.htm" title="Learn jmeter">Learn jMeter</a></li>
<li><a  href="/jogl/index.htm" title="Learn JOGL">Learn JOGL</a></li>
<li><a  href="/jpa/index.htm" title="Learn JPA">Learn JPA</a></li>
<li><a  href="/json/index.htm" title="Learn JSON">Learn JSON</a></li>
<li><a  href="/jsp/index.htm" title="Learn JSP">Learn JSP</a></li>
<li><a  href="/junit/index.htm" title="Learn JUnit">Learn JUnit</a></li>
<li><a  href="/log4j/index.htm" title="Learn log4j">Learn log4j</a></li>
<li><a  href="/lucene/index.htm" title="Learn Lucene">Learn Lucene</a></li>
<li><a  href="/maven/index.htm" title="Learn Maven">Learn Maven</a></li>
<li><a  href="/pdfbox/index.htm" title="Learn PDFbox">Learn PDFbox</a></li>
<li><a  href="/servlets/index.htm" title="Learn Servlets">Learn Servlets</a></li>
<li><a  href="/spring/index.htm" title="Learn Spring">Learn Spring</a></li>
<li><a  href="/springaop/index.htm" title="Learn Spring AOP">Learn Spring AOP</a></li>
<li><a  href="/springmvc/index.htm" title="Learn Spring MVC">Learn Spring MVC</a></li>
<li><a  href="/springws/index.htm" title="Learn Spring Web Services">Learn Spring Web Services</a></li>
<li><a  href="/struts_2/index.htm" title="Learn Struts 2">Learn Struts 2.x</a></li>
<li><a  href="/swing/index.htm" title="Learn Swing">Learn Swing</a></li>
<li><a  href="/testng/index.htm" title="Learn TestNG">Learn TestNG</a></li>
<li><a  href="/tika/index.htm" title="Learn Apache Tika">Learn Apache Tika</a></li>
<li><a  href="/xerces/index.htm" title="Learn Apache Xerces">Learn Apache Xerces</a></li>
<li><a  href="/xstream/index.htm" title="Learn XStream">Learn XStream</a></li>
</ul>
<h4>Digital Marketing</h4>
<ul class="menu" id="digital_marketing">
<li><a  href="/amazon_marketplace/index.htm" title="Learn Amazon Marketplace">Learn Amazon Marketplace</a></li>
<li><a  href="/ab_testing/index.htm" title="Learn A/B Testing">Learn A/B Testing</a></li>
<li><a  href="/content_marketing/index.htm" title="Content Marketing">Content Marketing</a></li>
<li><a  href="/conversion_rate_optimization/index.htm" title="Conversion Rate Optimization">Conversion Rate Optimization</a></li>
<li><a  href="/digital_marketing/index.htm" title="Learn Digital Marketing">Learn Digital Marketing</a></li>
<li><a  href="/email_marketing/index.htm" title="Learn Email Marketing">Learn Email Marketing</a></li>
<li><a  href="/facebook_marketing/index.htm" title="Learn Facebook Marketing">Learn Facebook Marketing</a></li>
<li><a  href="/google_plus/index.htm" title="Learn Google Plus Marketing">Learn Google Plus Marketing</a></li>
<li><a  href="/instagram_marketing/index.htm" title="Learn Instagram Marketing">Learn Instagram Marketing</a></li>
<li><a  href="/mobile_marketing/index.htm" title="Learn Mobile Marketing">Learn Mobile Marketing</a></li>
<li><a  href="/online_marketing/index.htm" title="Learn Online Marketing">Learn Online Marketing</a></li>
<li><a  href="/pay_per_click/index.htm" title="Learn Pay Per Click">Learn Pay Per Click</a></li>
<li><a  href="/pinterest_marketing/index.htm" title="Learn Pinterest Marketing">Learn Pinterest Marketing</a></li>
<li><a  href="/seo/index.htm" title="Learn Search Engine Optimization">Learn SEO Techniques</a></li>
<li><a  href="/social_media_marketing/index.htm" title="Learn Social Media Marketing">Learn Social Media Marketing</a></li>
<li><a  href="/twitter_marketing/index.htm" title="Learn Twitter Marketing">Learn Twitter Marketing</a></li>
<li><a  href="/youtube_marketing/index.htm" title="Learn Youtube Marketing">Learn Youtube Marketing</a></li>
<li><a  href="/web_analytics/index.htm" title="Learn Web Analytics">Learn Web Analytics</a></li>
</ul>
</div>

</div>
	<div id=footer>
	Developer: Ashutosh Singh, U.P., India<br>
    Contact information: <a href="mailto:webwithjs@gmail.com" class=hyperlinks>Talk to me</a>
	</div>
	
</div>		
</body>
</html>
